# Github Python Lists, Tuples, Dictionaries and Sets

In [ ]:
# List is a Data structure in python. List is a collection of elements or values in square brackets ''[]''.

In [12]:
# Defining a list
l = [1,2,3,4,5,"hello",45.67,True]

In [13]:
type(l)

list

In [14]:
# Extracting a list using indexes. Here index starts from zero
l[0]

1

In [15]:
l[5]

'hello'

In [16]:
# Length of string
len(l)

8

In [17]:
# List slicing operation will be as like string slicingoperation.
l[0:5] # Here excluding the 5th index.

[1, 2, 3, 4, 5]

In [18]:
l[::]

[1, 2, 3, 4, 5, 'hello', 45.67, True]

In [19]:
l[::-1]

[True, 45.67, 'hello', 5, 4, 3, 2, 1]

In [20]:
l[::2]

[1, 3, 5, 45.67]

In [21]:
l[0:6:2]

[1, 3, 5]

In [22]:
# Adding element to existing list.
l+['world']

[1, 2, 3, 4, 5, 'hello', 45.67, True, 'world']

In [23]:
# Multiplication operation on list.
l*2

[1, 2, 3, 4, 5, 'hello', 45.67, True, 1, 2, 3, 4, 5, 'hello', 45.67, True]

In [24]:
l

[1, 2, 3, 4, 5, 'hello', 45.67, True]

In [25]:
# Searching as element in list by using "in" operator
4 in l

True

In [26]:
"world" in l

False

In [27]:
# Adding data into the existing List ny using inbuilt oprators in List.
l.append('world')

In [28]:
l

[1, 2, 3, 4, 5, 'hello', 45.67, True, 'world']

In [29]:
# We can add list into the list
l.append([1,2,3,4])

In [30]:
l

[1, 2, 3, 4, 5, 'hello', 45.67, True, 'world', [1, 2, 3, 4]]

In [31]:
# Deleting the last element in the list.
l.pop()

[1, 2, 3, 4]

In [32]:
l

[1, 2, 3, 4, 5, 'hello', 45.67, True, 'world']

In [33]:
# Deleting the specific index element in list.
l.pop(0)

1

In [34]:
l

[2, 3, 4, 5, 'hello', 45.67, True, 'world']

In [35]:
# Reversing the all elements positoion in list
l.reverse()

In [36]:
l

['world', True, 45.67, 'hello', 5, 4, 3, 2]

In [37]:
l1 =[10,5,25,89,55]

In [38]:
min(l1) # Elements in List belongs to one data type

5

In [39]:
max(l1)

89

In [40]:
l1.sort() # Sorting the elements in list in Ascending order.

In [41]:
l1

[5, 10, 25, 55, 89]

In [42]:
l1.sort(reverse = True) # Sorting the elements in list in Descending order.

In [43]:
l1

[89, 55, 25, 10, 5]

In [49]:
l

['world', True, 45.67, 'hello', 5, 4, 3, 2]

In [45]:
l.append([1,2,3],[4,5,6],[7,8,9])

In [48]:
l.pop()

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [1]:
l2 = [1, 2, 3, [4, 5, 6], 'hello', 45.23]

In [2]:
l2

[1, 2, 3, [4, 5, 6], 'hello', 45.23]

In [3]:
l2.extend('world')

In [4]:
l2

[1, 2, 3, [4, 5, 6], 'hello', 45.23, 'w', 'o', 'r', 'l', 'd']

In [5]:
l2.index(1)

0

In [6]:
l2.insert(1,4) # Appending the value 4 at the index "1"

In [7]:
l2

[1, 4, 2, 3, [4, 5, 6], 'hello', 45.23, 'w', 'o', 'r', 'l', 'd']

In [8]:
l2.remove(4)

In [9]:
l2

[1, 2, 3, [4, 5, 6], 'hello', 45.23, 'w', 'o', 'r', 'l', 'd']

In [10]:
l2[4] = 'hai' # Replacing the 4th index element with 'hai'

In [11]:
l2

[1, 2, 3, [4, 5, 6], 'hai', 45.23, 'w', 'o', 'r', 'l', 'd']

In [ ]:
# Defining Tuples

In [1]:
t = (4,5,6,'hello',45.67,True)

In [2]:
t

(4, 5, 6, 'hello', 45.67, True)

In [3]:
type(t)

tuple

In [4]:
t[0]

4

In [ ]:
#Tuple slicing opertions as like List slicing operations

In [5]:
t[0:2]

(4, 5)

In [6]:
t[-1]

True

In [7]:
t[0::2]

(4, 6, 45.67)

In [8]:
# Reversing the tuple
t[::-1]

(True, 45.67, 'hello', 6, 5, 4)

In [9]:
# Tuples are immutable(not allowed to replace elements in data) 
t[1] =5

TypeError: 'tuple' object does not support item assignment

In [4]:
t.count(4)

1

In [5]:
t1 = (3,4,5,6)

In [6]:
t+t1

(4, 5, 6, 'hello', 45.67, True, 3, 4, 5, 6)

In [8]:
t.index(6)

2

In [ ]:
# converting the tuples to list

In [9]:
t

(4, 5, 6, 'hello', 45.67, True)

In [10]:
li = list(t)

In [11]:
li

[4, 5, 6, 'hello', 45.67, True]

In [12]:
type(li)

list

In [ ]:
# converting the list to tuples

In [13]:
tu = tuple(li)

In [14]:
tu

(4, 5, 6, 'hello', 45.67, True)

In [15]:
type(tu)

tuple

In [ ]:
# Defining dictionaries (it having of key and value pair (Key:Value))

In [17]:
d = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [18]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [19]:
type(d)

dict

In [20]:
d1 ={'name':'amar','mail_id':'amar@gmail.com','contact_no':123456}

In [21]:
d1.items()

dict_items([('name', 'amar'), ('mail_id', 'amar@gmail.com'), ('contact_no', 123456)])

In [22]:
d1.keys()

dict_keys(['name', 'mail_id', 'contact_no'])

In [23]:
d1.values()

dict_values(['amar', 'amar@gmail.com', 123456])

In [26]:
d1["gender"]="male" #adding one key value pair

In [27]:
d1

{'name': 'amar',
 'mail_id': 'amar@gmail.com',
 'contact_no': 123456,
 'gender': 'male'}

In [29]:
d1['name'] #Extracting the values from the dictionary with key

'amar'

In [ ]:
#defining sets

In [30]:
s= {1,2,3,4}

In [31]:
type(s)

set

In [32]:
s1 = {0,0,0,5,8,6,7,12,5,6,7,4}

In [33]:
s1 # set arranange the elements in ascending order and no duplicates

{0, 4, 5, 6, 7, 8, 12}

In [34]:
s1[0] # we can not extract the data from the set by usng the indexing.

TypeError: 'set' object is not subscriptable

In [ ]:
# to exctract the elements from the set ,we need to conver the set to list them we can extract.

In [35]:
ls = list(s1)

In [36]:
ls

[0, 4, 5, 6, 7, 8, 12]

In [37]:
ls[0]

0

In [38]:
s1.add(456)

In [39]:
s1

{0, 4, 5, 6, 7, 8, 12, 456}

In [43]:
s1.discard(456)

In [44]:
s1

{0, 4, 5, 6, 7, 8, 12}

In [45]:
s1.remove(0)

In [46]:
s1

{4, 5, 6, 7, 8, 12}

In [47]:
s1.remove(0)

KeyError: 0

In [49]:
s1.discard(0) # Remove and discrd command are doing same action but if the lelement is not available in the set, remove command will give the error but discard will not.

In [ ]:
#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"hello" , 243:[23,45,656]}]
1 . Try to reverse a list 
2.  Try to access 234 out of this list 
3 . Try to extract "hello"
4 . Try to list all the key in dict element avaible in list 
5 . Try to extract all the value element form dict available in list

In [53]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"hello" , 243:[23,45,656]}]

In [54]:
#Q1
l[::-1]

[{'key1': 'hello', 243: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [55]:
#Q2
l[7][0]

234

In [60]:
#Q3
l[8]['key1']

'hello'

In [61]:
#Q4
l[8].keys()

dict_keys(['key1', 243])

In [62]:
#Q5
l[8].values()

dict_values(['hello', [23, 45, 656]])